"""
Summary
The tabular column U.S cities census data was scraped the data from Wikipedia using read_html pandas function. The many We are addressing the below cleaning issues:
1.The columns for of Censun "2016 Land Area" were separated into two based on metrics.
2.The columns for "Population Density" were separated into two based on metrics.
3.The rank table was used to make into an index.
4.The "2016 Land Area in Sq mi", "2016 Land Area in km2", "Population Density per sq mi" and "Population Density per km2" possessed string characters along with their value.These characters were stripped off to make them a true number.
5.The "Percentage Change" had additional unnecessary characters which were stripped of as well.
6.The "Location" column had two sets of coordinates and one was removed.
7.The "Location" column also had unnecessary characters which could not be encoded to csv so those characters were removed as well.
8.The null columns were filled with "NA".
9.The rows with missing valued were dropped.
10.The "Percentage Change" column were stripped of "%",",","
11.The cleaned data was then ouput into csv file.

"""

In [223]:
import pandas as pd
import re
from numpy import nan as NA

#import data
url='https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
table=pd.read_html(url,index_col=None,header=None,skiprows=1,encoding='utf-8-sig')[3]

In [224]:
#rearrage the columns and specify columns' name
table.columns=['2016 Rank','City','State','2016 Estimate','2010 Census','Percentage Change','2016 Land Area in Sq mi','2016 Land Area in km2','Population Density per sq mi','Population Density per km2','Location']
table.head(10)

,2016 Rank,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Location
0,1,New York[6],New York,8537673,8175133,7000443466791304800♠+4.43%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W﻿...
1,2,Los Angeles,California,3976322,3792621,7000484364243092050♠+4.84%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°...
2,3,Chicago,Illinois,2704958,2695598,6999347232784710470♠+0.35%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W﻿...
3,4,Houston[7],Texas,2303482,2100263,7000967588344888229♠+9.68%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W﻿...
4,5,Phoenix,Arizona,1615017,1445632,7001117170206525590♠+11.72%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°...
5,6,Philadelphia[8],Pennsylvania,1567872,1526006,7000274350166382040♠+2.74%,134.2 sq mi,347.6 km2,"11,683/sq mi","4,511/km2",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W﻿...
6,7,San Antonio,Texas,1492510,1327407,7001124380088397910♠+12.44%,461.0 sq mi,"1,194.0 km2","3,238/sq mi","1,250/km2",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W﻿...
7,8,San Diego,California,1406630,1307402,7000758970844468650♠+7.59%,325.2 sq mi,842.3 km2,"4,325/sq mi","1,670/km2",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°...
8,9,Dallas,Texas,1317929,1197816,7001100276670206440♠+10.03%,340.9 sq mi,882.9 km2,"3,866/sq mi","1,493/km2",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W﻿...
9,10,San Jose,California,1025350,945942,7000839459501745350♠+8.39%,177.5 sq mi,459.7 km2,"5,777/sq mi","2,231/km2",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°...

In [225]:
#set the 2016 rank as index
table.index=table['2016 Rank']

In [226]:
#clean the data with [..] and commas
pat_1='\[\d*\]'
pat_2='\,'
table=table.applymap(lambda x:re.sub(pat_1,'',str(x)))
table=table.applymap(lambda x:re.sub(pat_2,'',str(x)))
table.head()

,2016 Rank,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Location
2016 Rank,,,,,,,,,,,
1,1,New York,New York,8537673,8175133,7000443466791304800♠+4.43%,301.5 sq mi,780.9 km2,28317/sq mi,10933/km2,40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W﻿...
2,2,Los Angeles,California,3976322,3792621,7000484364243092050♠+4.84%,468.7 sq mi,1213.9 km2,8484/sq mi,3276/km2,34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°...
3,3,Chicago,Illinois,2704958,2695598,6999347232784710470♠+0.35%,227.3 sq mi,588.7 km2,11900/sq mi,4600/km2,41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W﻿...
4,4,Houston,Texas,2303482,2100263,7000967588344888229♠+9.68%,637.5 sq mi,1651.1 km2,3613/sq mi,1395/km2,29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W﻿...
5,5,Phoenix,Arizona,1615017,1445632,7001117170206525590♠+11.72%,517.6 sq mi,1340.6 km2,3120/sq mi,1200/km2,33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°...

In [227]:
#clean the data for each columns
table['Percentage Change']=table['Percentage Change'].map(lambda x:x.split('♠')[1])
table['2016 Land Area in Sq mi']=table['2016 Land Area in Sq mi'].map(lambda x: float(str(x).split()[0]))
table['2016 Land Area in km2']=table['2016 Land Area in km2'].map(lambda x: float(str(x).split()[0]))
table['Population Density per sq mi']=table['Population Density per sq mi'].map(lambda x: float(str(x).split('/')[0]))
table['Population Density per km2']=table['Population Density per km2'].map(lambda x: float(str(x).split('/')[0]))
table['Location']=table['Location'].apply(lambda x: str(x).split('/')[1].replace('°',''))
table['Latitude']=table['Location'].apply(lambda x: str(x).split(' ')[1].replace('N',''))
table['Longitude']=table['Location'].apply(lambda x: str(x).split(' ')[2].replace('W',''))
table=table.drop(['2016 Rank','Location'],axis=1)
table.head(20)

,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Latitude,Longitude
2016 Rank,,,,,,,,,,,
1,New York,New York,8537673,8175133,+4.43%,301.5,780.9,28317.0,10933.0,﻿40.6635,73.9387﻿
2,Los Angeles,California,3976322,3792621,+4.84%,468.7,1213.9,8484.0,3276.0,﻿34.0194,118.4108﻿
3,Chicago,Illinois,2704958,2695598,+0.35%,227.3,588.7,11900.0,4600.0,﻿41.8376,87.6818﻿
4,Houston,Texas,2303482,2100263,+9.68%,637.5,1651.1,3613.0,1395.0,﻿29.7866,95.3909﻿
5,Phoenix,Arizona,1615017,1445632,+11.72%,517.6,1340.6,3120.0,1200.0,﻿33.5722,112.0901﻿
6,Philadelphia,Pennsylvania,1567872,1526006,+2.74%,134.2,347.6,11683.0,4511.0,﻿40.0094,75.1333﻿
7,San Antonio,Texas,1492510,1327407,+12.44%,461.0,1194.0,3238.0,1250.0,﻿29.4724,98.5251﻿
8,San Diego,California,1406630,1307402,+7.59%,325.2,842.3,4325.0,1670.0,﻿32.8153,117.1350﻿
9,Dallas,Texas,1317929,1197816,+10.03%,340.9,882.9,3866.0,1493.0,﻿32.7933,96.7665﻿
10,San Jose,California,1025350,945942,+8.39%,177.5,459.7,5777.0,2231.0,﻿37.2967,121.8189﻿
11,Austin,Texas,947890,790390,+19.93%,312.7,809.9,3031.0,1170.0,﻿30.3039,97.7544﻿
12,Jacksonville,Florida,880619,821784,+7.16%,747.4,1935.8,1178.0,455.0,﻿30.3369,81.6616﻿
13,San Francisco,California,870887,805235,+8.15%,46.9,121.5,18569.0,7170.0,﻿37.7272,123.0322﻿
14,Columbus,Ohio,860090,787033,+9.28%,218.5,565.9,3936.0,1520.0,﻿39.9852,82.9848﻿
15,Indianapolis,Indiana,855164,820445,+4.23%,361.5,936.3,2366.0,914.0,﻿39.7767,86.1459﻿
16,Fort Worth,Texas,854113,741206,+15.23%,342.9,888.1,2491.0,962.0,﻿32.7815,97.3467﻿
17,Charlotte,North Carolina,842051,731424,+15.12%,305.4,791.0,2757.0,1064.0,﻿35.2078,80.8310﻿
18,Seattle,Washington,704352,608660,+15.72%,83.8,217.0,8405.0,3245.0,﻿47.6205,122.3509﻿
19,Denver,Colorado,693060,600158,+15.48%,153.3,397.0,4521.0,1746.0,﻿39.7619,104.8811﻿
20,El Paso,Texas,683080,649121,+5.23%,256.8,665.1,2660.0,1030.0,﻿31.8484,106.4270﻿

In [228]:
# replace null cells with np.nan
def null(x):
    if x=='NA':
        return NA
    elif x=='':
        return NA
    elif x=='-':
        return NA
    elif x=='--':
        return NA
    elif x=='\\N':
        return NA
    else:
        return x


  
table=table.applymap(null)

# delete row with missing value
table=table.dropna()


table.head(10)

,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Latitude,Longitude
2016 Rank,,,,,,,,,,,
1,New York,New York,8537673,8175133,+4.43%,301.5,780.9,28317.0,10933.0,﻿40.6635,73.9387﻿
2,Los Angeles,California,3976322,3792621,+4.84%,468.7,1213.9,8484.0,3276.0,﻿34.0194,118.4108﻿
3,Chicago,Illinois,2704958,2695598,+0.35%,227.3,588.7,11900.0,4600.0,﻿41.8376,87.6818﻿
4,Houston,Texas,2303482,2100263,+9.68%,637.5,1651.1,3613.0,1395.0,﻿29.7866,95.3909﻿
5,Phoenix,Arizona,1615017,1445632,+11.72%,517.6,1340.6,3120.0,1200.0,﻿33.5722,112.0901﻿
6,Philadelphia,Pennsylvania,1567872,1526006,+2.74%,134.2,347.6,11683.0,4511.0,﻿40.0094,75.1333﻿
7,San Antonio,Texas,1492510,1327407,+12.44%,461.0,1194.0,3238.0,1250.0,﻿29.4724,98.5251﻿
8,San Diego,California,1406630,1307402,+7.59%,325.2,842.3,4325.0,1670.0,﻿32.8153,117.1350﻿
9,Dallas,Texas,1317929,1197816,+10.03%,340.9,882.9,3866.0,1493.0,﻿32.7933,96.7665﻿
10,San Jose,California,1025350,945942,+8.39%,177.5,459.7,5777.0,2231.0,﻿37.2967,121.8189﻿

In [229]:
# display the column types
table.dtypes

City                             object
State                            object
2016 Estimate                    object
2010 Census                      object
Percentage Change                object
2016 Land Area in Sq mi         float64
2016 Land Area in km2           float64
Population Density per sq mi    float64
Population Density per km2      float64
Latitude                         object
Longitude                        object
dtype: object

In [230]:
# For the <change> column, we modify it into two decimal digits
table['Percentage Change']=table['Percentage Change'].map(lambda x: x.replace('%','').replace('+','').replace('−','-')).astype(float)
# Convert string column type into numeric 
table['2016 Estimate']=table['2016 Estimate'].astype(int)
table['2010 Census']=table['2010 Census'].astype(int)

In [231]:
#display the column types
table.dtypes

City                             object
State                            object
2016 Estimate                     int64
2010 Census                       int64
Percentage Change               float64
2016 Land Area in Sq mi         float64
2016 Land Area in km2           float64
Population Density per sq mi    float64
Population Density per km2      float64
Latitude                         object
Longitude                        object
dtype: object

In [232]:
#display first twenty rows
table.head(20)

,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Latitude,Longitude
2016 Rank,,,,,,,,,,,
1,New York,New York,8537673,8175133,4.43,301.5,780.9,28317.0,10933.0,﻿40.6635,73.9387﻿
2,Los Angeles,California,3976322,3792621,4.84,468.7,1213.9,8484.0,3276.0,﻿34.0194,118.4108﻿
3,Chicago,Illinois,2704958,2695598,0.35,227.3,588.7,11900.0,4600.0,﻿41.8376,87.6818﻿
4,Houston,Texas,2303482,2100263,9.68,637.5,1651.1,3613.0,1395.0,﻿29.7866,95.3909﻿
5,Phoenix,Arizona,1615017,1445632,11.72,517.6,1340.6,3120.0,1200.0,﻿33.5722,112.0901﻿
6,Philadelphia,Pennsylvania,1567872,1526006,2.74,134.2,347.6,11683.0,4511.0,﻿40.0094,75.1333﻿
7,San Antonio,Texas,1492510,1327407,12.44,461.0,1194.0,3238.0,1250.0,﻿29.4724,98.5251﻿
8,San Diego,California,1406630,1307402,7.59,325.2,842.3,4325.0,1670.0,﻿32.8153,117.1350﻿
9,Dallas,Texas,1317929,1197816,10.03,340.9,882.9,3866.0,1493.0,﻿32.7933,96.7665﻿
10,San Jose,California,1025350,945942,8.39,177.5,459.7,5777.0,2231.0,﻿37.2967,121.8189﻿
11,Austin,Texas,947890,790390,19.93,312.7,809.9,3031.0,1170.0,﻿30.3039,97.7544﻿
12,Jacksonville,Florida,880619,821784,7.16,747.4,1935.8,1178.0,455.0,﻿30.3369,81.6616﻿
13,San Francisco,California,870887,805235,8.15,46.9,121.5,18569.0,7170.0,﻿37.7272,123.0322﻿
14,Columbus,Ohio,860090,787033,9.28,218.5,565.9,3936.0,1520.0,﻿39.9852,82.9848﻿
15,Indianapolis,Indiana,855164,820445,4.23,361.5,936.3,2366.0,914.0,﻿39.7767,86.1459﻿
16,Fort Worth,Texas,854113,741206,15.23,342.9,888.1,2491.0,962.0,﻿32.7815,97.3467﻿
17,Charlotte,North Carolina,842051,731424,15.12,305.4,791.0,2757.0,1064.0,﻿35.2078,80.8310﻿
18,Seattle,Washington,704352,608660,15.72,83.8,217.0,8405.0,3245.0,﻿47.6205,122.3509﻿
19,Denver,Colorado,693060,600158,15.48,153.3,397.0,4521.0,1746.0,﻿39.7619,104.8811﻿
20,El Paso,Texas,683080,649121,5.23,256.8,665.1,2660.0,1030.0,﻿31.8484,106.4270﻿

In [233]:
#output the data frame as csv
table.to_csv("List_of_United_States_cities_by_population.csv",sep='\t',encoding='utf-16')

#2. The question we framed is :
What are the top 10 states in terms of population density per km2?

In [234]:
# For all the states, what are the top-10 states in terms of 2016 Population Density per km2
pop=table.groupby('State')['2016 Estimate'].sum().sort_values(ascending=False)
den=table.groupby('State')['2016 Land Area in km2'].sum().sort_values(ascending=False)

state=pd.concat([pop,den], axis=1)
state['Population Density per km2']=state['2016 Estimate']/state['2016 Land Area in km2']

state.sort_values(by='Population Density per km2',ascending=False).head(10)

,2016 Estimate,2016 Land Area in km2,Population Density per km2
New York,9347640,1089.5,8579.752180
District of Columbia,681170,158.2,4305.752212
Rhode Island,179219,47.7,3757.211740
Pennsylvania,1991940,536.4,3713.534676
Massachusetts,1232975,356.4,3459.525814
New Jersey,1125699,356.7,3155.870479
Maryland,614664,209.5,2933.957041
Illinois,3691206,1513.9,2438.209921
Hawaii,351792,156.7,2245.003191
Connecticut,636498,306.4,2077.343342

In [235]:
#Find cities with same name but in different states
same_name=table[table['City'].duplicated(keep=False)].sort_values(by='City')
same_name

,City,State,2016 Estimate,2010 Census,Percentage Change,2016 Land Area in Sq mi,2016 Land Area in km2,Population Density per sq mi,Population Density per km2,Latitude,Longitude
2016 Rank,,,,,,,,,,,
54,Aurora,Colorado,361710,325078,11.27,153.5,397.6,2356.0,910.0,﻿39.6880,104.6897﻿
111,Aurora,Illinois,201110,197899,1.62,44.9,116.3,4479.0,1729.0,﻿41.7635,88.2901﻿
230,Columbia,Missouri,120612,108500,11.16,65.0,168.3,1856.0,717.0,﻿38.9473,92.3264﻿
199,Columbia,South Carolina,134309,129272,3.90,133.5,345.8,1006.0,388.0,﻿34.0291,80.8980﻿
14,Columbus,Ohio,860090,787033,9.28,218.5,565.9,3936.0,1520.0,﻿39.9852,82.9848﻿
119,Columbus,Georgia,197485,189885,4.00,216.4,560.5,913.0,353.0,﻿32.5102,84.8749﻿
86,Glendale,Arizona,245895,226721,8.46,59.1,153.1,4161.0,1607.0,﻿33.5331,112.1899﻿
112,Glendale,California,200831,191719,4.75,30.4,78.7,6606.0,2551.0,﻿34.1814,118.2458﻿
37,Kansas City,Missouri,481420,459787,4.71,315.0,815.8,1528.0,590.0,﻿39.1251,94.5510﻿
171,Kansas City,Kansas,151709,145786,4.06,124.8,323.2,1216.0,470.0,﻿39.1225,94.7418﻿
164,Lakewood,Colorado,154393,142980,7.98,42.9,111.1,3599.0,1390.0,﻿39.6989,105.1176﻿
305,Lakewood,New Jersey,100758,92843,8.53,24.7,64.0,4079.0,1575.0,﻿40.0771,74.2004﻿
166,Pasadena,Texas,153351,149043,2.89,43.5,112.7,3525.0,1361.0,﻿29.6586,95.1506﻿
185,Pasadena,California,142059,137122,3.60,23.0,59.6,6176.0,2385.0,﻿34.1606,118.1396﻿
244,Peoria,Illinois,114265,115007,-0.65,48.2,124.8,2371.0,915.0,﻿40.7515,89.6174﻿
156,Peoria,Arizona,164173,154065,6.56,175.7,455.1,934.0,361.0,﻿33.7862,112.3080﻿
269,Richmond,California,109813,103701,5.89,30.1,78.0,3648.0,1409.0,﻿37.9523,122.3606﻿
98,Richmond,Virginia,223170,204214,9.28,59.8,154.9,3732.0,1441.0,﻿37.5314,77.4760﻿
107,Rochester,New York,208880,210565,-0.80,35.8,92.7,5835.0,2253.0,﻿43.1699,77.6169﻿
245,Rochester,Minnesota,114011,106769,6.78,54.6,141.4,2088.0,806.0,﻿44.0154,92.4772﻿
165,Springfield,Massachusetts,154074,153060,0.66,31.9,82.6,4830.0,1860.0,﻿42.1155,72.5400﻿
152,Springfield,Missouri,167319,159498,4.90,82.3,213.2,2033.0,785.0,﻿37.1942,93.2913﻿
241,Springfield,Illinois,115715,116250,-0.46,60.1,155.7,1925.0,743.0,﻿39.7911,89.6446﻿

In [236]:
# The frequency of duplicated city names
same_name['City'].value_counts()

Springfield    3
Pasadena       2
Lakewood       2
Peoria         2
Kansas City    2
Columbus       2
Glendale       2
Richmond       2
Rochester      2
Columbia       2
Aurora         2
Name: City, dtype: int64