# 1a:Import the marriage census data using basic file input techniques (i.e., either via open(filename) or the csv module). Create a dictionary M that contains the years as the top level keys. Each year key contains two keys, one for each gender (i.e., 1 and 2). Within each gender key, there is a list of population numbers, indexed by the marriage status values (e.g., the first list element is the number of people with 'Unknown', the second list element is the number of people with 'Married' status, and so on) and summed across all ages. Return your dictionary object and report the total number of divorced individuals in 1980.

In [544]:
import csv
dic={}
aan=[]
with open(r'C:\Users\rithu\Downloads\census_marriage.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        dic={row['year']:{row['gender']:row['people']}}
        aan.append(dic)
aan

[{'1850': {'1': '1483789'}},
 {'1850': {'2': '1450376'}},
 {'1850': {'1': '1411067'}},
 {'1850': {'2': '1359668'}},
 {'1850': {'1': '1260099'}},
 {'1850': {'2': '1216114'}},
 {'1850': {'1': '1077133'}},
 {'1850': {'2': '1110619'}},
 {'1850': {'1': '1017281'}},
 {'1850': {'2': '1003841'}},
 {'1850': {'1': '862547'}},
 {'1850': {'2': '799482'}},
 {'1850': {'1': '730638'}},
 {'1850': {'2': '639636'}},
 {'1850': {'1': '588487'}},
 {'1850': {'2': '505012'}},
 {'1850': {'1': '475911'}},
 {'1850': {'2': '428185'}},
 {'1850': {'1': '384211'}},
 {'1850': {'2': '341254'}},
 {'1850': {'1': '321343'}},
 {'1850': {'2': '286580'}},
 {'1850': {'1': '194080'}},
 {'1850': {'2': '187208'}},
 {'1850': {'1': '174976'}},
 {'1850': {'2': '162236'}},
 {'1850': {'1': '106827'}},
 {'1850': {'2': '105534'}},
 {'1850': {'1': '73677'}},
 {'1850': {'2': '71762'}},
 {'1850': {'1': '40834'}},
 {'1850': {'2': '40229'}},
 {'1850': {'1': '23449'}},
 {'1850': {'2': '22949'}},
 {'1850': {'1': '8186'}},
 {'1850': {'2': '10511'}},
 {'1850': {'1': '5259'}},
 {'1850': {'2': '6569'}},
 {'1860': {'1': '2120846'}},
 {'1860': {'2': '2092162'}},
 {'1860': {'1': '1804467'}},
 {'1860': {'2': '1778772'}},
 {'1860': {'1': '1612640'}},
 {'1860': {'2': '1540350'}},
 {'1860': {'1': '1438094'}},
 {'1860': {'2': '1495999'}},
 {'1860': {'1': '1351121'}},
 {'1860': {'2': '1370462'}},
 {'1860': {'1': '1217615'}},
 {'1860': {'2': '1116373'}},
 {'1860': {'1': '1043174'}},
 {'1860': {'2': '936055'}},
 {'1860': {'1': '866910'}},
 {'1860': {'2': '737136'}},
 {'1860': {'1': '699434'}},
 {'1860': {'2': '616826'}},
 {'1860': {'1': '552404'}},
 {'1860': {'2': '461739'}},
 {'1860': {'1': '456176'}},
 {'1860': {'2': '407305'}},
 {'1860': {'1': '292417'}},
 {'1860': {'2': '267224'}},
 {'1860': {'1': '260887'}},
 {'1860': {'2': '249735'}},
 {'1860': {'1': '149331'}},
 {'1860': {'2': '141405'}},
 {'1860': {'1': '98465'}},
 {'1860': {'2': '101778'}},
 {'1860': {'1': '56699'}},
 {'1860': {'2': '57597'}},
 {'1860': {'1': '29007'}},
 {'1860': {'2': '29506'}},
 {'1860': {'1': '10434'}},
 {'1860': {'2': '14053'}},
 {'1860': {'1': '7232'}},
 {'1860': {'2': '6622'}},
 {'1870': {'1': '2800083'}},
 {'1870': {'2': '2717102'}},
 {'1870': {'1': '2428469'}},
 {'1870': {'2': '2393680'}},
 {'1870': {'1': '2427341'}},
 {'1870': {'2': '2342670'}},
 {'1870': {'1': '1958390'}},
 {'1870': {'2': '2077248'}},
 {'1870': {'1': '1805303'}},
 {'1870': {'2': '1909382'}},
 {'1870': {'1': '1509059'}},
 {'1870': {'2': '1574285'}},
 {'1870': {'1': '1251534'}},
 {'1870': {'2': '1275629'}},
 {'1870': {'1': '1185336'}},
 {'1870': {'2': '1137490'}},
 {'1870': {'1': '968861'}},
 {'1870': {'2': '944401'}},
 {'1870': {'1': '852672'}},
 {'1870': {'2': '747916'}},
 {'1870': {'1': '736387'}},
 {'1870': {'2': '637801'}},
 {'1870': {'1': '486036'}},
 {'1870': {'2': '407819'}},
 {'1870': {'1': '399264'}},
 {'1870': {'2': '374801'}},
 {'1870': {'1': '260829'}},
 {'1870': {'2': '239080'}},
 {'1870': {'1': '173364'}},
 {'1870': {'2': '165501'}},
 {'1870': {'1': '86929'}},
 {'1870': {'2': '89540'}},
 {'1870': {'1': '47427'}},
 {'1870': {'2': '54190'}},
 {'1870': {'1': '15891'}},
 {'1870': {'2': '19302'}},
 {'1870': {'1': '8649'}},
 {'1870': {'2': '13068'}},
 {'1880': {'1': '3533662'}},
 {'1880': {'2': '3421597'}},
 {'1880': {'1': '3297503'}},
 {'1880': {'2': '3179142'}},
 {'1880': {'2': '1997'}},
 {'1880': {'1': '599'}},
 {'1880': {'2': '1596'}},
 {'1880': {'1': '200'}},
 {'1880': {'2': '199'}},
 {'1880': {'1': '2911125'}},
 {'1880': {'2': '2809758'}},
 {'1880': {'1': '20747'}},
 {'1880': {'2': '277380'}},
 {'1880': {'1': '5583'}},
 {'1880': {'2': '18657'}},
 {'1880': {'1': '200'}},
 {'1880': {'2': '1892'}},
 {'1880': {'1': '2498'}},
 {'1880': {'2': '5989'}},
 {'1880': {'1': '2428706'}},
 {'1880': {'2': '2223900'}},
 {'1880': {'1': '525726'}},
 {'1880': {'2': '1197869'}},
 {'1880': {'1': '40394'}},
 {'1880': {'2': '55146'}},
 {'1880': {'1': '1396'}},
 {'1880': {'2': '7482'}},
 {'1880': {'1': '11863'}},
 {'1880': {'2': '36706'}},
 {'1880': {'1': '1968401'}},
 {'1880': {'2': '1215600'}},
 {'1880': {'1': '1159298'}},
 {'1880': {'2': '1392687'}},
 {'1880': {'1': '60650'}},
 {'1880': {'2': '51579'}},
 {'1880': {'1': '4089'}},
 {'1880': {'2': '10567'}},
 {'1880': {'1': '25135'}},
 {'1880': {'2': '60658'}},
 {'1880': {'1': '870221'}},
 {'1880': {'2': '458750'}},
 {'1880': {'1': '1236119'}},
 {'1880': {'2': '1238326'}},
 {'1880': {'1': '55962'}},
 {'1880': {'2': '37894'}},
 {'1880': {'1': '3892'}},
 {'1880': {'2': '8084'}},
 {'1880': {'1': '37003'}},
 {'1880': {'2': '83777'}},
 {'1880': {'1': '416131'}},
 {'1880': {'2': '228691'}},
 {'1880': {'1': '1213563'}},
 {'1880': {'2': '1160080'}},
 {'1880': {'1': '48604'}},
 {'1880': {'2': '33202'}},
 {'1880': {'1': '4992'}},
 {'1880': {'2': '8378'}},
 {'1880': {'1': '44500'}},
 {'1880': {'2': '121783'}},
 {'1880': {'1': '229113'}},
 {'1880': {'2': '160274'}},
 {'1880': {'1': '997154'}},
 {'1880': {'2': '938721'}},
 {'1880': {'1': '45009'}},
 {'1880': {'2': '29506'}},
 {'1880': {'1': '2793'}},
 {'1880': {'2': '6182'}},
 {'1880': {'1': '48463'}},
 {'1880': {'2': '154399'}},
 {'1880': {'1': '143928'}},
 {'1880': {'2': '110627'}},
 {'1880': {'1': '883724'}},
 {'1880': {'2': '731892'}},
 {'1880': {'1': '34324'}},
 {'1880': {'2': '27831'}},
 {'1880': {'1': '4288'}},
 {'1880': {'2': '3690'}},
 {'1880': {'1': '50965'}},
 {'1880': {'2': '165781'}},
 {'1880': {'1': '92672'}},
 {'1880': {'2': '74517'}},
 {'1880': {'1': '792796'}},
 {'1880': {'2': '576825'}},
 {'1880': {'1': '32025'}},
 {'1880': {'2': '20741'}},
 {'1880': {'1': '3394'}},
 {'1880': {'2': '4783'}},
 {'1880': {'1': '64937'}},
 {'1880': {'2': '205310'}},
 {'1880': {'1': '71332'}},
 {'1880': {'2': '55353'}},
 {'1880': {'1': '566433'}},
 {'1880': {'2': '371421'}},
 {'1880': {'1': '18250'}},
 {'1880': {'2': '15060'}},
 {'1880': {'1': '2095'}},
 {'1880': {'2': '3090'}},
 {'1880': {'1': '52966'}},
 {'1880': {'2': '171760'}},
 {'1880': {'1': '39403'}},
 {'1880': {'2': '33512'}},
 {'1880': {'1': '462498'}},
 {'1880': {'2': '285866'}},
 {'1880': {'1': '17259'}},
 {'1880': {'2': '11170'}},
 {'1880': {'1': '2293'}},
 {'1880': {'2': '1496'}},
 {'1880': {'1': '64228'}},
 {'1880': {'2': '195104'}},
 {'1880': {'1': '34020'}},
 {'1880': {'2': '33320'}},
 {'1880': {'1': '282013'}},
 {'1880': {'2': '154905'}},
 {'1880': {'1': '9478'}},
 {'1880': {'2': '7174'}},
 {'1880': {'1': '1895'}},
 {'1880': {'2': '1896'}},
 {'1880': {'1': '55070'}},
 {'1880': {'2': '160882'}},
 {'1880': {'1': '20942'}},
 {'1880': {'2': '21446'}},
 {'1880': {'1': '182101'}},
 {'1880': {'2': '78187'}},
 {'1880': {'1': '8978'}},
 {'1880': {'2': '3891'}},
 {'1880': {'1': '800'}},
 {'1880': {'2': '797'}},
 {'1880': {'1': '50270'}},
 {'1880': {'2': '151130'}},
 {'1880': {'1': '13273'}},
 {'1880': {'2': '17855'}},
 {'1880': {'1': '87761'}},
 {'1880': {'2': '35491'}},
 {'1880': {'1': '4683'}},
 {'1880': {'2': '2295'}},
 {'1880': {'1': '200'}},
 {'1880': {'2': '299'}},
 {'1880': {'1': '41300'}},
 {'1880': {'2': '97051'}},
 {'1880': {'1': '7684'}},
 {'1880': {'2': '8377'}},
 {'1880': {'1': '34518'}},
 {'1880': {'2': '11870'}},
 {'1880': {'1': '2292'}},
 {'1880': {'2': '697'}},
 {'1880': {'1': '99'}},
 {'1880': {'1': '26628'}},
 {'1880': {'2': '57346'}},
 {'1880': {'1': '3989'}},
 {'1880': {'2': '7377'}},
 {'1880': {'1': '8671'}},
 {'1880': {'2': '2995'}},
 {'1880': {'1': '498'}},
 {'1880': {'2': '399'}},
 {'1880': {'1': '11772'}},
 {'1880': {'2': '26137'}},
 {'1880': {'1': '1496'}},
 {'1880': {'2': '1696'}},
 {'1880': {'1': '3689'}},
 {'1880': {'2': '399'}},
 {'1880': {'1': '398'}},
 {'1880': {'2': '100'}},
 {'1880': {'1': '100'}},
 {'1880': {'1': '5387'}},
 {'1880': {'2': '13255'}},
 {'1880': {'1': '698'}},
 {'1880': {'2': '1697'}},
 {'1900': {'1': '4619544'}},
 {'1900': {'2': '4589196'}},
 {'1900': {'1': '4465783'}},
 {'1900': {'2': '4390483'}},
 {'1900': {'2': '3722'}},
 {'1900': {'1': '502'}},
 {'1900': {'2': '1306'}},
 {'1900': {'1': '201'}},
 {'1900': {'1': '4056966'}},
 {'1900': {'2': '3996721'}},
 {'1900': {'1': '32572'}},
 {'1900': {'2': '396264'}},
 {'1900': {'1': '5632'}},
 {'1900': {'2': '25134'}},
 {'1900': {'1': '301'}},
 {'1900': {'2': '1809'}},
 {'1900': {'1': '1109'}},
 {'1900': {'2': '10352'}},
 {'1900': {'1': '3735232'}},
 {'1900': {'2': '3368184'}},
 {'1900': {'1': '739365'}},
 {'1900': {'2': '1675865'}},
 {'1900': {'1': '46941'}},
 {'1900': {'2': '83310'}},
 {'1900': {'1': '4122'}},
 {'1900': {'2': '11560'}},
 {'1900': {'1': '16585'}},
 {'1900': {'2': '52652'}},
 {'1900': {'1': '2887025'}},
 {'1900': {'2': '1927674'}},
 {'1900': {'1': '1696542'}},
 {'1900': {'2': '2150869'}},
 {'1900': {'1': '89966'}},
 {'1900': {'2': '82826'}},
 {'1900': {'1': '8836'}},
 {'1900': {'2': '17388'}},
 {'1900': {'1': '40097'}},
 {'1900': {'2': '94141'}},
 {'1900': {'1': '1553839'}},
 {'1900': {'2': '890832'}},
 {'1900': {'1': '1929229'}},
 {'1900': {'2': '2005516'}},
 {'1900': {'1': '90726'}},
 {'1900': {'2': '68647'}},
 {'1900': {'1': '10259'}},
 {'1900': {'2': '17287'}},
 {'1900': {'1': '56695'}},
 {'1900': {'2': '123907'}},
 {'1900': {'1': '832055'}},
 {'1900': {'2': '449817'}},
 {'1900': {'1': '1936263'}},
 {'1900': {'2': '1805069'}},
 {'1900': {'1': '96909'}},
 {'1900': {'2': '64111'}},
 {'1900': {'1': '9950'}},
 {'1900': {'2': '13770'}},
 {'1900': {'1': '80686'}},
 {'1900': {'2': '169672'}},
 {'1900': {'1': '510075'}},
 {'1900': {'2': '295115'}},
 {'1900': {'1': '1730760'}},
 {'1900': {'2': '1519459'}},
 {'1900': {'1': '93977'}},
 {'1900': {'2': '52343'}},
 {'1900': {'1': '11546'}},
 {'1900': {'2': '14779'}},
 {'1900': {'1': '95083'}},
 {'1900': {'2': '210858'}},
 {'1900': {'1': '329704'}},
 {'1900': {'2': '207548'}},
 {'1900': {'1': '1458766'}},
 {'1900': {'2': '1198397'}},
 {'1900': {'1': '69555'}},
 {'1900': {'2': '48652'}},
 {'1900': {'1': '10054'}},
 {'1900': {'2': '11151'}},
 {'1900': {'1': '110965'}},
 {'1900': {'2': '250510'}},
 {'1900': {'1': '219073'}},
 {'1900': {'2': '139315'}},
 {'1900': {'1': '1227604'}},
 {'1900': {'2': '966949'}},
 {'1900': {'1': '58112'}},
 {'1900': {'2': '41610'}},
 {'1900': {'1': '11045'}},
 {'1900': {'2': '9348'}},
 {'1900': {'1': '127847'}},
 {'1900': {'2': '292357'}},
 {'1900': {'1': '146430'}},
 {'1900': {'2': '101717'}},
 {'1900': {'1': '896182'}},
 {'1900': {'2': '666505'}},
 {'1900': {'1': '39602'}},
 {'1900': {'2': '28549'}},
 {'1900': {'1': '8147'}},
 {'1900': {'2': '5629'}},
 {'1900': {'1': '122901'}},
 {'1900': {'2': '293004'}},
 {'1900': {'1': '95076'}},
 {'1900': {'2': '70945'}},
 {'1900': {'1': '678793'}},
 {'1900': {'2': '462396'}},
 {'1900': {'1': '33174'}},
 {'1900': {'2': '24326'}},
 {'1900': {'1': '5425'}},
 {'1900': {'2': '3017'}},
 {'1900': {'1': '128847'}},
 {'1900': {'2': '339786'}},
 {'1900': {'1': '70332'}},
 {'1900': {'2': '57983'}},
 {'1900': {'1': '480925'}},
 {'1900': {'2': '274764'}},
 {'1900': {'1': '20403'}},
 {'1900': {'2': '16194'}},
 {'1900': {'1': '2509'}},
 {'1900': {'2': '2110'}},
 {'1900': {'1': '125719'}},
 {'1900': {'2': '312661'}},
 {'1900': {'1': '43107'}},
 {'1900': {'2': '34483'}},
 {'1900': {'1': '298783'}},
 {'1900': {'2': '136163'}},
 {'1900': {'1': '13166'}},
 {'1900': {'2': '10144'}},
 {'1900': {'1': '2310'}},
 {'1900': {'2': '904'}},
 {'1900': {'1': '115663'}},
 {'1900': {'2': '266985'}},
 {'1900': {'1': '24825'}},
 {'1900': {'2': '25811'}},
 {'1900': {'1': '154368'}},
 {'1900': {'2': '58301'}},
 {'1900': {'1': '8949'}},
 {'1900': {'2': '5428'}},
 {'1900': {'1': '1302'}},
 {'1900': {'2': '602'}},
 {'1900': {'1': '86713'}},
 {'1900': {'2': '184056'}},
 {'1900': {'1': '16879'}},
 {'1900': {'2': '17492'}},
 {'1900': {'1': '59785'}},
 {'1900': {'2': '17381'}},
 {'1900': {'1': '4726'}},
 {'1900': {'2': '2109'}},
 {'1900': {'1': '401'}},
 {'1900': {'1': '56691'}},
 {'1900': {'2': '104721'}},
 {'1900': {'1': '5832'}},
 {'1900': {'2': '8238'}},
 {'1900': {'1': '16983'}},
 {'1900': {'2': '3414'}},
 {'1900': {'1': '1307'}},
 {'1900': {'2': '402'}},
 {'1900': {'1': '100'}},
 {'1900': {'2': '201'}},
 {'1900': {'1': '23612'}},
 {'1900': {'2': '41277'}},
 {'1900': {'1': '2006'}},
 {'1900': {'2': '3320'}},
 {'1900': {'1': '5218'}},
 {'1900': {'2': '1407'}},
 {'1900': {'1': '603'}},
 {'1900': {'2': '504'}},
 {'1900': {'1': '8338'}},
 {'1900': {'2': '16574'}},
 {'1900': {'1': '1005'}},
 {'1900': {'2': '1608'}},
 {'1910': {'1': '5296823'}},
 {'1910': {'2': '5287477'}},
 {'1910': {'1': '4991803'}},
 {'1910': {'2': '4866139'}},
 {'1910': {'1': '252'}},
 {'1910': {'2': '756'}},
 {'1910': {'1': '503'}},
 {'1910': {'2': '503'}},
 {'1910': {'1': '4649992'}},
 {'1910': {'2': '4470628'}},
 {'1910': {'1': '41807'}},
 {'1910': {'2': '509067'}},
 {'1910': {'1': '7557'}},
 {'1910': {'2': '32492'}},
 {'1910': {'1': '756'}},
 {'1910': {'2': '3527'}},
 {'1910': {'1': '756'}},
 {'1910': {'2': '10579'}},
 {'1910': {'1': '4515278'}},
 {'1910': {'2': '4036604'}},
 {'1910': {'1': '1024956'}},
 {'1910': {'2': '2083156'}},
 {'1910': {'1': '76826'}},
 {'1910': {'2': '101511'}},
 {'1910': {'1': '5541'}},
 {'1910': {'2': '25194'}},
 {'1910': {'1': '13853'}},
 {'1910': {'2': '55668'}},
 {'1910': {'1': '3516456'}},
 {'1910': {'2': '2182154'}},
 {'1910': {'1': '2170316'}},
 {'1910': {'2': '2722434'}},
 {'1910': {'1': '166747'}},
 {'1910': {'2': '109071'}},
 {'1910': {'1': '14862'}},
 {'1910': {'2': '30734'}},
 {'1910': {'1': '46849'}},
 {'1910': {'2': '110592'}},
 {'1910': {'1': '1858981'}},
 {'1910': {'2': '973322'}},
 {'1910': {'1': '2399426'}},
 {'1910': {'2': '2509056'}},
 {'1910': {'1': '183881'}},
 {'1910': {'2': '83130'}},
 {'1910': {'1': '17128'}},
 {'1910': {'2': '27458'}},
 {'1910': {'1': '68009'}},
 {'1910': {'2': '133003'}},
 {'1910': {'1': '989681'}},
 {'1910': {'2': '542573'}},
 {'1910': {'1': '2461026'}},
 {'1910': {'2': '2385199'}},
 {'1910': {'1': '170533'}},
 {'1910': {'2': '86151'}},
 {'1910': {'1': '23175'}},
 {'1910': {'2': '29221'}},
 {'1910': {'1': '86140'}},
 {'1910': {'2': '215117'}},
 {'1910': {'1': '686644'}},
 {'1910': {'2': '373302'}},
 {'1910': {'1': '2125720'}},
 {'1910': {'2': '1883413'}},
 {'1910': {'1': '151141'}},
 {'1910': {'2': '65494'}},
 {'1910': {'1': '18893'}},
 {'1910': {'2': '22418'}},
 {'1910': {'1': '116116'}},
 {'1910': {'2': '228181'}},
 {'1910': {'1': '448359'}},
 {'1910': {'2': '271761'}},
 {'1910': {'1': '1803096'}},
 {'1910': {'2': '1552185'}},
 {'1910': {'1': '114865'}},
 {'1910': {'2': '55421'}},
 {'1910': {'1': '19146'}},
 {'1910': {'2': '21918'}},
 {'1910': {'1': '128709'}},
 {'1910': {'2': '289938'}},
 {'1910': {'1': '297985'}},
 {'1910': {'2': '195468'}},
 {'1910': {'1': '1630512'}},
 {'1910': {'2': '1214387'}},
 {'1910': {'1': '82124'}},
 {'1910': {'2': '51136'}},
 {'1910': {'1': '16876'}},
 {'1910': {'2': '15872'}},
 {'1910': {'1': '162980'}},
 {'1910': {'2': '349133'}},
 {'1910': {'1': '234024'}},
 {'1910': {'2': '143064'}},
 {'1910': {'1': '1150671'}},
 {'1910': {'2': '831002'}},
 {'1910': {'1': '58429'}},
 {'1910': {'2': '41818'}},
 {'1910': {'1': '11588'}},
 {'1910': {'2': '13604'}},
 {'1910': {'1': '159445'}},
 {'1910': {'2': '344073'}},
 {'1910': {'1': '128225'}},
 {'1910': {'2': '87154'}},
 {'1910': {'1': '866733'}},
 {'1910': {'2': '567012'}},
 {'1910': {'1': '46600'}},
 {'1910': {'2': '34258'}},
 {'1910': {'1': '11840'}},
 {'1910': {'2': '7307'}},
 {'1910': {'1': '166759'}},
 {'1910': {'2': '403523'}},
 {'1910': {'1': '97489'}},
 {'1910': {'2': '78597'}},
 {'1910': {'1': '589950'}},
 {'1910': {'2': '359200'}},
 {'1910': {'1': '35272'}},
 {'1910': {'2': '23174'}},
 {'1910': {'1': '7305'}},
 {'1910': {'2': '4029'}},
 {'1910': {'1': '159953'}},
 {'1910': {'2': '370783'}},
 {'1910': {'1': '57679'}},
 {'1910': {'2': '56682'}},
 {'1910': {'1': '340058'}},
 {'1910': {'2': '174823'}},
 {'1910': {'1': '20401'}},
 {'1910': {'2': '12847'}},
 {'1910': {'1': '3275'}},
 {'1910': {'2': '1260'}},
 {'1910': {'1': '156672'}},
 {'1910': {'2': '317130'}},
 {'1910': {'1': '37530'}},
 {'1910': {'2': '41563'}},
 {'1910': {'1': '180118'}},
 {'1910': {'2': '65750'}},
 {'1910': {'1': '11838'}},
 {'1910': {'2': '8060'}},
 {'1910': {'1': '2519'}},
 {'1910': {'2': '756'}},
 {'1910': {'1': '110320'}},
 {'1910': {'2': '257189'}},
 {'1910': {'1': '17884'}},
 {'1910': {'2': '19145'}},
 {'1910': {'1': '68770'}},
 {'1910': {'2': '18392'}},
 {'1910': {'1': '6801'}},
 {'1910': {'2': '4786'}},
 {'1910': {'1': '754'}},
 {'1910': {'2': '756'}},
 {'1910': {'1': '78083'}},
 {'1910': {'2': '139296'}},
 {'1910': {'1': '7307'}},
 {'1910': {'2': '11085'}},
 {'1910': {'1': '20909'}},
 {'1910': {'2': '4534'}},
 {'1910': {'1': '1764'}},
 {'1910': {'2': '1259'}},
 {'1910': {'1': '252'}},
 {'1910': {'1': '32995'}},
 {'1910': {'2': '55420'}},
 {'1910': {'1': '3779'}},
 {'1910': {'2': '1512'}},
 {'1910': {'1': '7305'}},
 {'1910': {'2': '1511'}},
 {'1910': {'1': '1260'}},
 {'1910': {'2': '504'}},
 {'1910': {'2': '252'}},
 {'1910': {'1': '14608'}},
 {'1910': {'2': '24935'}},
 {'1910': {'1': '756'}},
 {'1910': {'2': '1763'}},
 {'1920': {'1': '5934792'}},
 {'1920': {'2': '5694244'}},
 {'1920': {'1': '5789008'}},
 {'1920': {'2': '5693960'}},
 {'1920': {'1': '202'}},
 {'1920': {'2': '4239'}},
 {'1920': {'1': '1212'}},
 {'1920': {'2': '1312'}},
 {'1920': {'1': '101'}},
 {'1920': {'1': '202'}},
 {'1920': {'2': '202'}},
 {'1920': {'1': '5399439'}},
 {'1920': {'2': '5287304'}},
 {'1920': {'1': '78211'}},
 {'1920': {'2': '587731'}},
 {'1920': {'1': '22201'}},
 {'1920': {'2': '49958'}},
 {'1920': {'1': '1211'}},
 {'1920': {'2': '6658'}},
 {'1920': {'1': '2118'}},
 {'1920': {'2': '12613'}},
 {'1920': {'1': '4620624'}},
 {'1920': {'2': '4122976'}},
 {'1920': {'1': '1174975'}},
 {'1920': {'2': '2368395'}},
 {'1920': {'1': '103955'}},
 {'1920': {'2': '132208'}},
 {'1920': {'1': '10699'}},
 {'1920': {'2': '28356'}},
 {'1920': {'1': '21499'}},
 {'1920': {'2': '65393'}},
 {'1920': {'1': '3238283'}},
 {'1920': {'2': '2148280'}},
 {'1920': {'1': '2511726'}},
 {'1920': {'2': '3217818'}},
 {'1920': {'1': '141772'}},
 {'1920': {'2': '118953'}},
 {'1920': {'1': '23824'}},
 {'1920': {'2': '39663'}},
 {'1920': {'1': '49446'}},
 {'1920': {'2': '113629'}},
 {'1920': {'1': '1838298'}},
 {'1920': {'2': '1039319'}},
 {'1920': {'1': '2855361'}},
 {'1920': {'2': '3104649'}},
 {'1920': {'1': '151066'}},
 {'1920': {'2': '99885'}},
 {'1920': {'1': '29560'}},
 {'1920': {'2': '41174'}},
 {'1920': {'1': '69824'}},
 {'1920': {'2': '152982'}},
 {'1920': {'1': '1004960'}},
 {'1920': {'2': '583736'}},
 {'1920': {'1': '3041446'}},
 {'1920': {'2': '2928711'}},
 {'1920': {'1': '180649'}},
 {'1920': {'2': '97671'}},
 {'1920': {'1': '33898'}},
 {'1920': {'2': '42381'}},
 {'1920': {'1': '103026'}},
 {'1920': {'2': '215532'}},
 {'1920': {'1': '722524'}},
 {'1920': {'2': '429515'}},
 {'1920': {'1': '2542029'}},
 {'1920': {'2': '2361698'}},
 {'1920': {'1': '153589'}},
 {'1920': {'2': '83172'}},
 {'1920': {'1': '31983'}},
 {'1920': {'2': '28562'}},
 {'1920': {'1': '119593'}},
 {'1920': {'2': '263501'}},
 {'1920': {'1': '474729'}},
 {'1920': {'2': '322824'}},
 {'1920': {'1': '2405631'}},
 {'1920': {'2': '1979074'}},
 {'1920': {'1': '145728'}},
 {'1920': {'2': '78711'}},
 {'1920': {'1': '28758'}},
 {'1920': {'2': '25329'}},
 {'1920': {'1': '158118'}},
 {'1920': {'2': '327645'}},
 {'1920': {'1': '405656'}},
 {'1920': {'2': '258330'}},
 {'1920': {'1': '1935382'}},
 {'1920': {'2': '1502493'}},
 {'1920': {'1': '115144'}},
 {'1920': {'2': '67195'}},
 {'1920': {'1': '26446'}},
 {'1920': {'2': '19477'}},
 {'1920': {'1': '183455'}},
 {'1920': {'2': '410113'}},
 {'1920': {'1': '285608'}},
 {'1920': {'2': '201213'}},
 {'1920': {'1': '1406894'}},
 {'1920': {'2': '1046715'}},
 {'1920': {'1': '78107'}},
 {'1920': {'2': '49756'}},
 {'1920': {'1': '17656'}},
 {'1920': {'2': '13523'}},
 {'1920': {'1': '184469'}},
 {'1920': {'2': '416537'}},
 {'1920': {'1': '193849'}},
 {'1920': {'2': '148141'}},
 {'1920': {'1': '1147749'}},
 {'1920': {'2': '742176'}},
 {'1920': {'1': '64287'}},
 {'1920': {'2': '36123'}},
 {'1920': {'1': '14727'}},
 {'1920': {'2': '9788'}},
 {'1920': {'1': '214247'}},
 {'1920': {'2': '483167'}},
 {'1920': {'1': '146539'}},
 {'1920': {'2': '111623'}},
 {'1920': {'1': '753162'}},

In [545]:
import csv
#columnname=['year','age','marst','gender','people']
file=open(r'C:\Users\rithu\Downloads\census_marriage.csv')
file_csv=csv.reader(file)

In [546]:
file_csv

# 1b: Import the marriage census data into a DataFrame using replace method and prints the first ten rows.

In [547]:
#the below code imports the  marriage census csv file into a dataframe
import pandas as pd
df = pd.DataFrame.from_csv(r'C:\Users\rithu\Downloads\census_marriage.csv', parse_dates=False)
df.head(10)

      age  marst  gender   people
year
1850    0      0       1  1483789
1850    0      0       2  1450376
1850    5      0       1  1411067
1850    5      0       2  1359668
1850   10      0       1  1260099
1850   10      0       2  1216114
1850   15      0       1  1077133
1850   15      0       2  1110619
1850   20      0       1  1017281
1850   20      0       2  1003841

# 1c:Replaced the marriage status codes (marst column) with their actual status (e.g., Married, Single, etc.) using the replace method

In [548]:
#the first list is the existing one and the second is the one it has to be replaced with
df.marst.replace([0,1,2,3,4,5,6],['Unknown','Married','Married/Spouse Absent','Separated','Divorced','Widowed','Single'],inplace=True)
df.head(10)

      age    marst  gender   people
year
1850    0  Unknown       1  1483789
1850    0  Unknown       2  1450376
1850    5  Unknown       1  1411067
1850    5  Unknown       2  1359668
1850   10  Unknown       1  1260099
1850   10  Unknown       2  1216114
1850   15  Unknown       1  1077133
1850   15  Unknown       2  1110619
1850   20  Unknown       1  1017281
1850   20  Unknown       2  1003841

# 1d: Replaced the gender values with their gender equivalents (1 for Male, 2 for Female) using the replace method

In [549]:
df.gender.replace([1,2],['Male','Female'],inplace=True)
df.head(10)

      age    marst  gender   people
year
1850    0  Unknown    Male  1483789
1850    0  Unknown  Female  1450376
1850    5  Unknown    Male  1411067
1850    5  Unknown  Female  1359668
1850   10  Unknown    Male  1260099
1850   10  Unknown  Female  1216114
1850   15  Unknown    Male  1077133
1850   15  Unknown  Female  1110619
1850   20  Unknown    Male  1017281
1850   20  Unknown  Female  1003841

# 1e: Report the total number of divorced individuals in 1980 using DataFrame methods.

In [550]:
#first reset the index and then set the two columns required as the index and got the required number using loc and used sum to get the total count
df=df.reset_index()
df_new= df.set_index(keys=['year','marst'])

In [551]:
y=df_new.loc[(1980,'Divorced')]

C:\Users\rithu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

In [552]:
y['people'].sum()

10834315

# 1f:in 1950, the Female age group contained the highest number of widows is displayed below

In [553]:
#first reset the index and then set the two columns required as the index 
#got the required number using loc and 
#used max to get the maximum people in an age group
df=df.reset_index()
df.reset_index()
df_new1= df.set_index(keys=['year','gender','marst'])
df_new1

                                   index  age   people
year gender marst
1850 Male   Unknown                    0    0  1483789
     Female Unknown                    1    0  1450376
     Male   Unknown                    2    5  1411067
     Female Unknown                    3    5  1359668
     Male   Unknown                    4   10  1260099
     Female Unknown                    5   10  1216114
     Male   Unknown                    6   15  1077133
     Female Unknown                    7   15  1110619
     Male   Unknown                    8   20  1017281
     Female Unknown                    9   20  1003841
     Male   Unknown                   10   25   862547
     Female Unknown                   11   25   799482
     Male   Unknown                   12   30   730638
     Female Unknown                   13   30   639636
     Male   Unknown                   14   35   588487
     Female Unknown                   15   35   505012
     Male   Unknown                   16   40   475911
     Female Unknown                   17   40   428185
     Male   Unknown                   18   45   384211
     Female Unknown                   19   45   341254
     Male   Unknown                   20   50   321343
     Female Unknown                   21   50   286580
     Male   Unknown                   22   55   194080
     Female Unknown                   23   55   187208
     Male   Unknown                   24   60   174976
     Female Unknown                   25   60   162236
     Male   Unknown                   26   65   106827
     Female Unknown                   27   65   105534
     Male   Unknown                   28   70    73677
     Female Unknown                   29   70    71762
...                                  ...  ...      ...
2000 Male   Divorced                2318   80    73640
     Female Divorced                2319   80   146589
     Male   Widowed                 2320   80   408331
     Female Widowed                 2321   80  1935401
     Male   Single                  2322   80    68817
     Female Single                  2323   80   141002
     Male   Married                 2324   85   545260
     Female Married                 2325   85   297024
     Male   Married/Spouse Absent   2326   85    81007
     Female Married/Spouse Absent   2327   85   166426
     Male   Separated               2328   85     5938
     Female Separated               2329   85     9549
     Male   Divorced                2330   85    27221
     Female Divorced                2331   85    68487
     Male   Widowed                 2332   85   275431
     Female Widowed                 2333   85  1344908
     Male   Single                  2334   85    35500
     Female Single                  2335   85    94762
     Male   Married                 2336   90   108633
     Female Married                 2337   90    37759
     Male   Married/Spouse Absent   2338   90    50347
     Female Married/Spouse Absent   2339   90   157964
     Male   Separated               2340   90     2876
     Female Separated               2341   90     6384
     Male   Divorced                2342   90    11205
     Female Divorced                2343   90    29292
     Male   Widowed                 2344   90   147615
     Female Widowed                 2345   90   774069
     Male   Single                  2346   90    15627
     Female Single                  2347   90    59113

[2348 rows x 3 columns]

In [554]:
ag=df_new1.loc[(1950,'Female','Widowed')]

C:\Users\rithu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

In [555]:
ag['age'][ag['people']==ag['people'].max()]

year  gender  marst
1950  Female  Widowed    65
Name: age, dtype: int64

# 1f: in 1950, the Male age group with the highest number of widows is displayed below

In [556]:
ab=df_new1.loc[(1950,'Male','Widowed')]

C:\Users\rithu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

In [557]:
ab['age'][ab['people']==ab['people'].max()]

year  gender  marst
1950  Male    Widowed    70
Name: age, dtype: int64

#1f: we can see that most female widowed at a younger age (65 years) than most male at the age (75 years) in 1950